.searchBar{

    position:relative;

    width:100%;

}

.searchBar input{

    width:100%;

    padding:13px 16px 13px 45px;

    border:1px solid #dbe2ea;

    border-radius:12px;

    font-size:14px;

    outline:none;

    transition:.25s;

    background:white;

}

.searchBar input:focus{

    border-color:#2563eb;

    box-shadow:0 0 0 3px rgba(37,99,235,.15);

}

.searchIcon{

    position:absolute;

    left:15px;

    top:50%;

    transform:translateY(-50%);

    color:#64748b;

    font-size:15px;

}